body {
    display: flex;
    justify-content: center;
    height: 1000px;
    margin: 0;
    background-color: #f0f0f0;
}

#chessboard{
    width:600px;
    height: 600px;
}

.whitebox{
    height: 75px;
    width:75px;
    background-color: #f0d9b5;
}

.blackbox{
    height: 75px;
    width:75px;
    background-color: #b58863;

}

.paw{
    
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.paw:hover{
    opacity: 0.8;
}